<table style="width: 100%;height: 5%;">
  <tr>
    <td style="width: 80%;background-color:rgb(121, 181, 181);"> <span style="font-size: 40px;color:rgb(73, 73, 185);margin-left: 20%;">HOTEL BOOKING APP</span>
   
    <a href="#">login</a>/
    <a href="#" style="margin-left: 10px;"> signup</a>
  </td>
</tr>
    
    
    <table style=" width: 100%;height:30%;background-color: aquamarine;">
  <tr>
    <td style="width: 15%; text-align: center;">  <a routerLink="/addtransaction"> Transaction details</a>  </td>
    <td style="width: 15%; text-align: center;">  <a routerLink="/viewtransactionDetails"> View Transaction Details</a>  </td>
    
    
  </tr>
</table>
<hr/>
<router-outlet></router-outlet>